/* THEMES */
.color-theme-1 {
    --color-font: #ffffff;
    --color-bckgrnd-2: #333333;
    --color-bckgrnd-3: #3c3c44;
    --color-border-1: #808080;
    --color-border-2: #6c6c6c;
    --color-border-3: #1f1f1f;
    --color-border-4: #ababab;
    --color-fill-2: #2b2640;
    --color-screen: #a3c2a8;
}

.color-theme-2 {
    --color-font: #000000;
    --color-bckgrnd-2: #e1dfcc;
    --color-bckgrnd-3: #d9d7bf;
    --color-border-1: #c6c29f;
    --color-border-2: #e2dcca;
    --color-border-3: #cfcdaf;
    --color-border-4: #c3c0b6;
    --color-fill-2: #edebd4;
    --color-screen: #a3c2a8;
}

.color-theme-3 {
    --color-font: #000000;
    --color-bckgrnd-2: #e2ecee;
    --color-bckgrnd-3: #d9e6e8;
    --color-border-1: #fefef5;
    --color-border-2: #ffffff;
    --color-border-3: #dcdcd0;
    --color-border-4: #f0ede6;
    --color-fill-2: #f2f7f8;
    --color-screen: #a3c2a8;
}

.color-theme-4 {
    --color-font: #ffffff;
    --color-bckgrnd-2:#2c2b31;
    --color-bckgrnd-3:#38353b;
    --color-border-1: #4d3857;
    --color-border-2: #333333;
    --color-border-3: #1e1e1a;
    --color-border-4: #70665c;
    --color-fill-2: #30312b;
    --color-screen: #a3c2a8;
}

/* GENERAL STYLE GUIDE */
* {
    box-sizing: border-box;
    text-align: center;
}

.template-theme {
    --title-background: #fdf7a5;
    --nav-background: #fafafa;
    --content-highlight: #e4f1e9;
}

.body {
    background-color: #0f0f15;
}

a {
    color: #2f2f60;
    text-decoration: none;
}
@media (hover: hover) {
    a:hover {
        color: #1e1eeb;
    }
}