* {
    margin: 0px;
    color: #2fff2f;
}

.body {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: Cambria, Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
    --font-size: 1.8vw;
    --form-width: 60vw;
}

.title {
    width: calc( var(--form-width) * (2/3) );
    font-size: calc(var(--font-size) * 1.667);
    margin: 1.5vw 0vw;
    position: relative;
}

.form-style {
    padding: .67vw 1vw 1vw 1vw;
    background-color: #153215;
    border: 1px ridge #0dff00;
}

.form-root {
    width: var(--form-width);
    display: flex;
}

.input-style {
    width: calc( var(--form-width) * (2/3) );
    font-size: var(--font-size);
    transition: border 300ms;
}

.button-style {
    width: calc(var(--form-width) / 5);
    font-size: var(--font-size);
    border-radius: 1vw;
    margin-left: 1.5vw;
    transition: outline 100ms;
}

@media (hover: none) {
    /* no hover functionality: touchscreens */
    .input-style:focus {
        border: 1px ridge #e9ede7;
    }
    .button-style:focus {
        color: #e9ede7;
        outline: 3px ridge #e9ede7;
    }
}

@media (hover: hover) {
    /* hover functionality: everyhting else */
    .input-style:hover {
        border: 1px ridge #e9ede7;
    }
    .button-style:hover {
        color: #e9ede7;
        outline: 3px ridge #e9ede7;
    }
}

.elipses-container {
    width: var(--form-width);
    margin: 1vw 0vmin;
    gap: 2.2vw;
    display: flex;
}

.elipses-dot {
    width: 2vw;
    height: 1vw;
    border: .15vw solid #2fff2f;
    border-radius: 10px;
    position: relative;
    animation: 500ms linear 0s infinite alternate wave;
}

@keyframes wave {
    0% {transform: translateY(0vmin)}
    25%, 100% {transform: translateY(1.5vmin)}
}
