{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodEval Evaluator</title>
    <link rel="stylesheet" href="{% static 'stylesheets/main.css'%}">
    <link rel="stylesheet" href="{% static 'stylesheets/eval.css'%}">
    <script defer src="{% static 'scripts/evalInterface.js'%}"></script>
</head>
<body class="body">
    <div>
        <h2 class="title">The GoodEval Evaluator</h2>
        <form action="./" method="post" class="form-root">
            <input type="text" class="form-style input-style" min="1" required>
            <!-- use radio inputs for use logs -->
            <!-- <input name="use-logs" type="radio" value="0" required> -->
            <!-- <input name="use-logs" type="radio" value="1" required> -->
            <button type="button" class="form-style button-style">evaluate</button>
        </form>
        <div class="elipses-container"></div>
    </div>
</body>
</html>