{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodEval Evaluator</title>
    <link rel="stylesheet" href="{% static 'stylesheets/main.css'%}">
    <link rel="stylesheet" href="{% static 'stylesheets/eval.css'%}">
    <script defer src="{% static 'scripts/evalInterface.js'%}"></script>
</head>
<body class="body">
    
    <h2 class="title" tabindex="0">GoodEval Evaluator</h2>
    
    <!-- <a href="http://127.0.0.1:8000/" rel="noopener noreferrer" class="home-button">Home</a> -->
    <a href="https://goodeval-1d265775b25d.herokuapp.com/" rel="noopener noreferrer" class="home-button button-style">Home</a>
    
    <div class="elipses-container"></div>
    
    <div class="center-text status-text" tabindex="0">
        <div>status: </div>
        <div id="connection-status"></div>
    </div>
    
    <form action="./" method="get" class="evaluate-form row-form-layout">
        <input id="problem-field" type="text" class="form-style field-style" min="1" spellcheck="false" autocomplete="off" autofocus required>
        <button id="evaluate-button" type="button" class="form-style button-style">evaluate</button>
        <div id="answer-field" class="form-style field-style" tabindex="0"></div>
    </form>

    <hr noshade="true">
    
    <form action="./" method="get" class="search-form row-form-layout">
        <select id="search-type" type="" class="form-style drop-down-menu-style" required>
            <option value="search-type-name" selected>name</option>
            <option value="search-type-key">key</option>
            <option value="search-type-module">module</option>
            <option value="search-type-error">error</option>
        </select>
        <input id="search-field" type="text" class="form-style field-style" min="1" spellcheck="false" autocomplete="off" placeholder="info" required>
        <button id="search-button" class="form-style button-style" type="button">search</button>
    </form>

    <div id="search-result-container" tabindex="0"></div>

</body>
</html>