{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodEval</title>
    <link rel="stylesheet" href="{% static 'stylesheets/main.css'%}">
    <link rel="stylesheet" href="{% static 'stylesheets/index.css'%}">
    <script defer src="{% static 'scripts/indexInterface.js'%}"></script>
</head>
<body class="body template-theme">

    <header>
        <div>GoodEval</div>
    </header>

    <nav>
        <a href="https://github.com/bthol/GoodEval" target="_blank" rel="noopener noreferrer">About</a>
    </nav>

    <div class="software-card-container">
        
        <div class="software-card">
            
            <!-- <a href="http://127.0.0.1:8000/calculator" rel="noopener noreferrer">Calculator</a> -->
            <a href="https://goodeval-1d265775b25d.herokuapp.com/calculator" >Calculator</a>
            
            <div class="software-card-text">
                <p><u>Feature Overview</u></p>
                <p>Being a scientific grade calculator, the GoodEval Calulator is a computational software that can perform a wide array of mathematical problems by the inclusion of trigonomic, logarithmic, and summation special functions, as well as a few stochastic and rounding functions just for good measure. The calculator interface comes in 4 distinctive themes that may be switched between at any time using the top panel, where a history of previous calculations and a link to its about page can also be found. The calculator page element will scale to the dimenions of available screen space, such that the original dimensions of the element fill as much available space as possible without dimensional warping, so that the interface should be identical on all devices.</p>
            </div>
    
            <div class="software-card-arrow arrow arrow-down"></div>
            
        </div>
        
        <div class="software-card">
            
            <!-- <a href="http://127.0.0.1:8000/evaluator" rel="noopener noreferrer">Evaluator</a> -->
            <a href="https://goodeval-1d265775b25d.herokuapp.com/evaluator" >Evaluator</a>
            
            <div class="software-card-text">
                <p><u>Feature Overview</u></p>
                <p>Free from the graphical user interface constraints of the GoodEval Calculator, the GoodEval Evaluator offers a more comprehensive assortment of functionality and performs its calculations using a dedicated python script separate from the GoodEval Calculator. In order that the functionality remain extensible without over-processing, the program has a comprehensive system of modular bypasses that prevent running of functionality irrelevant to the expression the Evaluator is tasked with solving. While advanced calculators are capable of complex calculation, same as the Evaluator, the user is required to endure the tedium of memorizing how to input such complex expressions in an arbitrary textual equivilent to mathematical notation. In contrast, the Evaluator maintains a convenient shorthand for longer or more complex expressions by involving keywords that access a multitude of built-in special functions.</p>
            </div>
            
            <div class="software-card-arrow arrow arrow-down"></div>
            
        </div>
        
        <div class="software-card">
            
            <a href="http://127.0.0.1:8000/operator" rel="noopener noreferrer">Operator</a>
            <!-- <a href="https://goodeval-1d265775b25d.herokuapp.com/operator" >Operator</a> -->
            
            <div class="software-card-text">
                <p><u>Feature Overview</u></p>
                <p>The GoodEval Operator is a computational software for demonstrating the properties of mathematical operators over finite domains.</p>
            </div>
            
            <div class="software-card-arrow arrow arrow-down"></div>
            
        </div>

    </div>
    
</body>
</html>