{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodEval</title>
    <link rel="stylesheet" href="{% static 'stylesheets/main.css'%}">
    <link rel="stylesheet" href="{% static 'stylesheets/index.css'%}">
    <script defer src="{% static 'scripts/indexInterface.js'%}"></script>
</head>
<body class="body template-theme">
    <header>
        <div>GoodEval</div>
    </header>
    <nav>
        <!-- make a link card for each software in GoodEval Package -->
         
        <!-- testing for dev -->
        <a href="http://127.0.0.1:8000/calculator" class="software-card">Calculator</a>
        <a href="http://127.0.0.1:8000/evaluator" class="software-card">Evaluator</a>
    
        <!-- live links for deploy -->
        <!-- <a href="https://goodeval-1d265775b25d.herokuapp.com/calculator" class="software-card">Calculator</a> -->
        <!-- <a href="https://goodeval-1d265775b25d.herokuapp.com/evaluator" class="software-card">Evaluator</a> -->
    </nav>
    
</body>
</html>