{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GoodEval Calculator</title>
        <link rel="stylesheet" href="{% static 'stylesheets/main.css'%}">
        <link rel="stylesheet" href="{% static 'stylesheets/index.css'%}">
        <script defer src="{% static 'scripts/indexInterface.js'%}"></script>
        <script defer src="{% static 'scripts/probScript.js'%}"></script>
        <script defer src="{% static 'scripts/numberfall.js'%}"></script>
</head>
<body class="body">
    <nav>
        <div class="title-container">
            <h1>GoodEval Calucator</h1>
        </div>
        <div class="nav-button-container">
            <div class="font-normalize">
                Themes
                |
                <button id="modern-theme" class="theme-button button-hover-blue">Modern</button>
                |
                <button id="retro-theme" class="theme-button button-hover-blue">Retro</button>
                |
                <button id="sleek-theme" class="theme-button button-hover-blue">Sleek</button>
                |
                <button id="umbral-theme" class="theme-button button-hover-blue">Umbral</button>
            </div>
            <div>
                <div id="history-button" class="button-hover-blue">History</div>
            </div>
            <div>
                <a href="https://github.com/bthol/GoodEval" target="_blank" rel="noopener noreferrer">About</a>
            </div>
        </div>
        <div class="arrow-layout">
            <div id="nav-menu-arrow" class="arrow-container downward-arrow">
                <div class="arrow"></div>
            </div>
        </div>
        <div id="history-panel"></div>
    </nav>

    <div class="calculator-background color-theme-1">
        <div class="screen">
            <div>
                <div id="screen-toggles">
                    <div class="cursor-mode"></div>
                    <div class="shift-mode"></div>
                </div>
                <div id="screen-content"></div>
                <div id="equal-sign">=</div>
                <div id="screen-answer"></div>
            </div>
        </div>

        <div class="btns"> <!-- wrapper element for listener -->
            <div class="top-button-container">
                <button id="btn-shift-1" class="key top-button soft-edge-style highlight-back">sin</button>
                <button id="btn-shift-2" class="key top-button soft-edge-style highlight-back">cos</button>
                <button id="btn-shift-3" class="key top-button soft-edge-style highlight-back">tan</button>
                <button id="btn-shift-4" class="key top-button soft-edge-style highlight-back" style="font-size: 2.5vmin;">log<sub id="btn-shift-4-sub" class="key">10</sub></button>
                <button id="btn-shift-5" class="key top-button soft-edge-style highlight-back">round</button>
                <button id="btn-shift-6" class="key top-button soft-edge-style highlight-back">rand</button>
            </div>
            
            <div class="top-button-container">
                <div>
                    <button id="btn-paren-open" class="special top-button right-left-style highlight-back">&#40;</button> <!-- html entity code for ( : &#40; -->
                    <button id="btn-paren-close" class="special top-button left-right-style highlight-back">&#41;</button> <!-- html entity code for ) : &#41; -->
                </div>
                <div>
                    <button id="btn-absolute-value" class="operation top-button soft-edge-style highlight-back">|x|</button>
                    <button id="btn-floor" class="operation top-button soft-edge-style highlight-back">⌊x⌋</button>
                    <button id="btn-ceil" class="operation top-button soft-edge-style highlight-back">⌈x⌉</button>
                    <button id="btn-euler" class="numpad top-button soft-edge-style highlight-back">e</button>
                    <button id="btn-tau" class="numpad top-button soft-edge-style highlight-back">τ</button> <!-- html entity: &tau; + html code: &#964; -->
                    <button id="btn-pi" class="numpad top-button soft-edge-style highlight-back">π</button> <!-- html entity: &pi; + html code: &#960; -->
                </div>
            </div>
            
            <div class="top-button-container">
                <div>
                    <button id="btn-cursor-backward" class="cursor top-button right-left-style highlight-back">&lt;</button> <!-- html entity: ">"-->
                    <button id="btn-cursor-forward" class="cursor top-button left-right-style highlight-back">&gt;</button> <!-- html entity: "<"-->
                </div>
                <div>
                    <button id="btn-cursor-mode" class="cursor top-button soft-edge-style highlight-back">cursor</button>
                </div>
                <div>
                    <button id="btn-shift" class="special top-button soft-edge-style highlight-back">shift</button>
                </div>
                <div>
                    <button id="btn-backspace" class="cursor top-button left-right-style highlight-back">&lt;—</button> <!-- html entity: "<"-->
                </div>
            </div>
            
            <div class="bottom-button-container">
                <button id="btn-clear" class="special grid-start button orange soft-edge-style" style="font-size: 4vmin;" >C</button>
                <button id="btn-power" class="operation button normal soft-edge-style highlight-back">a^<sup id="btn-power-sup" class="operation">b</sup></button>
                <button id="btn-root" class="operation button normal soft-edge-style highlight-back"><sup id="btn-root-sup" class="operation">n</sup>√x</button> <!-- alt code 251: "√"-->
                <button id="btn-num9" class="numpad grid-start button normal soft-edge-style highlight-back">9</button>
                <button id="btn-num8" class="numpad grid-start button normal soft-edge-style highlight-back">8</button>
                <button id="btn-num7" class="numpad grid-start button normal soft-edge-style highlight-back">7</button>
                <button id="btn-num6" class="numpad grid-start button normal soft-edge-style highlight-back">6</button>
                <button id="btn-num5" class="numpad grid-start button normal soft-edge-style highlight-back">5</button>
                <button id="btn-num4" class="numpad grid-start button normal soft-edge-style highlight-back">4</button>
                <button id="btn-num3" class="numpad grid-start button normal soft-edge-style highlight-back">3</button>
                <button id="btn-num2" class="numpad grid-start button normal soft-edge-style highlight-back">2</button>
                <button id="btn-num1" class="numpad grid-start button normal soft-edge-style highlight-back">1</button>
                <button id="btn-num0" class="numpad grid-start button normal soft-edge-style highlight-back">0</button>
                <button id="btn-sign" class="operation grid-start button normal soft-edge-style highlight-back"><sup id="btn-sign-sup" class="operation" style="font-size: 2.5vmin;">+</sup>/<sub id="btn-sign-sub" class="operation" style="font-size: 3.5vmin;">-</sub></button>
                <button id="btn-divide" class="operation grid-end button normal soft-edge-style highlight-back">÷</button> <!-- html entity: &divide; + html code: &#247; -->
                <button id="btn-multiply" class="operation grid-end button normal soft-edge-style highlight-back">×</button> <!-- html entity: &times; + html code: &#215; -->
                <button id="btn-minus" class="operation grid-end button normal soft-edge-style highlight-back" style="font-size: 5vmin;">-</button> <!-- html entity: &minus; + html code: &#8722; -->
                <button id="btn-plus" class="operation grid-end button normal soft-edge-style highlight-back">+</button> <!-- html entity: &plus; + html code: &#43; -->
                <button id="btn-decimal" class="special grid-start button normal soft-edge-style highlight-back">.</button>
                <button id="btn-equals" class="special grid-end button orange soft-edge-style" style="font-size: 5.5vmin;">=</button> <!-- html entity: &equals; + html code: &#61; -->
            </div>
        </div>
    </div>
</body>
</html>
