{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodEval Operator</title>
    <link rel="stylesheet" href="{% static 'stylesheets/main.css'%}">
    <link rel="stylesheet" href="{% static 'stylesheets/oper.css'%}">
    <script defer src="{% static 'scripts/operInterface.js'%}"></script>
</head>
<body class="body">

    <header><h1>GoodEval Operator</h1></header>

    <!-- <a href="http://127.0.0.1:8000/" rel="noopener noreferrer" class="home-button">Home</a> -->
    <a href="https://goodeval-1d265775b25d.herokuapp.com/" rel="noopener noreferrer" class="home-button">Home</a>

    <form id="operator-form" action="./" method="POST">
        <!-- Operand type -->
        <label for="operand-type">Operand Type</label>
        <select name="operand-type" id="operand-type" class="field-width" required>
            <option name="quantity" value="quantity">Quantity</option>
            <option name="set" value="set">Set</option>
            <option name="codomain" value="codomain">Codomain</option>
            <option name="matrix" value="matrix">Matrix</option>
        </select>
        
        <div id="dynamic-content-container" class="field-width"></div>

        <div class="center-flex field-width"><button id="operate-button" type="button">Operate</button></div>

        <div id="answer-field" class="field-width"></div>

    </form>
    
</body>
</html>